<h1>Listing apps</h1>

<table>
  <tr>
    <th>Name</th>
    <th>URL</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @apps.each do |app| %>
  <tr class="app-row">
    <td><%= link_to app.name, app %></td>
    <td><%= link_to(app.url, app.url) %></td>
    <% if current_user.apps.include?(app) %>
      <td><%= link_to 'Edit', edit_app_path(app) %></td>
      <td><%= link_to 'Destroy', app, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New App', new_app_path %>
