<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>URL</th>
    <th>Codebase URL</th>
    <th>Contact Email</th>
  </tr>
  <tr>
    <td><%= @app.name %></td>
    <td><%= @app.description %></td>
    <td><%= @app.url %></td>
    <td><%= @app.codebase_url %></td>
    <td><%= @app.user.email if @app.email_visible %></td>
  </tr>
</table>

<%= render 'comment_form' %>

<% if @comments %>
  <% @comments.each do |comment| %>
    <p><%= comment.first_name %> <%= comment.last_name %></p>
    <p><%= comment.email %></p>
    <p><%= comment.body %></p>
  <% end %>
<% end %>

<% if current_user.id == @app.id %>
  <%= link_to 'Edit', edit_app_path(@app) %> |
  <%= link_to 'Back', apps_path %>
<% end %>

<% if @comments.length > 0 %>
  <% @comments.each do |comment| %>
  <div class="comment">
    <p class="comment-head"><%= comment.user.email %></p>
    <p class="comment-body"><%= comment.body %></p>
  </div>
  <% end %>
<% else %>
  <p>No comments yet.</p>
<% end %>
<%= link_to "Comment", new_app_comment_path(@app) %> |
<%= link_to 'Edit', edit_app_path(@app) %> |
<%= link_to 'Back', apps_path %>
