<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>URL</th>
    <th>Codebase URL</th>
    <th>Contact Email</th>
  </tr>
  <tr>
    <td><%= @app.name %></td>
    <td><%= @app.description %></td>
    <td><%= @app.url %></td>
    <td><%= @app.codebase_url %></td>
    <td><%= @app.user.email if @app.email_visible %></td>
  </tr>
</table>

<% if @app.current_user_gave_props?(current_user) %>
<%= link_to "Props (#{@props.length} #{"prop".pluralize(@props.length)})", app_prop_path(@app), method: :delete %> |
<% else %>
<%= link_to "Props (#{@props.length} #{"prop".pluralize(@props.length)})", app_props_path(@app), method: :post %> |
<% end %>
<%= link_to "Comment", new_app_comment_path(@app) %> |
<% if @app.user == current_user %>
<%= link_to 'Edit', edit_app_path(@app) %> |
<% end %>
<%= link_to 'Back', apps_path %>
<br><br>
<% if @comments.length > 0 %>
  <% @comments.each do |comment| %>
  <div class="comment">
    <p class="comment-head"><%= comment.user.email %></p>
    <p class="comment-body"><%= comment.body %></p>
  </div>
  <% end %>
<% else %>
  <p>No comments yet.</p>
<% end %>
